{{ load static }}
{{ block content }}
<!--External CSS & js-->
<link rel="stylesheet" href="{{ static 'Style_Crd2.css' }}" type="text/css">
<script src="{{ static 'JavaScript_Crd2.js' }}"></script>

<!-- Title -->
<h2 class="Title">End of Experiment</h2>

<!-- Stage 2 Feedback -->
<p>The experiment has now ended. Below you will see a summary of the experiment. You will also see the ECU you earned from the experiment, and your total earnings in dollars, including your $10 show-up fee. </p>
<p>Thank you for participating. You will now privately receive your payment, by check.</p>
<div style="margin: 75px"></div>
<h4 class="History">Stage 2 Feedback:</h4>
<h5>*** The decision randomly chosen towards payment is marked in <span class="highlight">yellow</span> ***</h5>
{{ if player.role == C.pa_ROLE }}

<div class="tablescroll">
    <table class="history_header">
        <tr>
            <th>Decision</th>
            <th>True Signal</th>
            <th>Advice Given</th>
            <th>Total Investors</th>
            <th>Your Payoff</th>
            <th>Player B Payoff</th>
        </tr>
    </table>
    <table id="data_table">
        <tr {{ if decision_counts == 1 }} bgcolor="yellow"{{ endif }}>
            <td>1</td>
            <td>{{ history.1.signal }}</td>
            <td>{{ history.1.advice }}</td>
            <td>{{ history.1.investors }}</td>
            <td>{{ history.1.payoff }}</td>
            <td>{{ history.1.pb_payoff }}</td>
        </tr>
        <tr {{ if decision_counts == 2 }} bgcolor="yellow"{{ endif }}>
            <td>2</td>
            <td>{{ history.2.signal }}</td>
            <td>{{ history.2.advice }}</td>
            <td>{{ history.2.investors }}</td>
            <td>{{ history.2.payoff }}</td>
            <td>{{ history.2.pb_payoff }}</td>
        </tr>
        <tr {{ if decision_counts == 3 }} bgcolor="yellow"{{ endif }}>
            {{ for value in history.3 }}
            <td>3</td>
            <td>{{ value.group.actual_signal }}</td>
            <td>{{ value.group.pa_advice }}</td>
            <td>{{ value.group.total_players_invest() }}</td>
            <td>{{ value.payoff }}</td>
            <td>{{ value.group.pb_payoff }}</td>
            {{ endfor }}
        </tr>
    </table>
</div>

{{ else }}

<div class="tablescroll">
    <table class="history_header">
        <tr>
            <th>Round</th>
            <th>Player A's Advice</th>
            <th>Outside Draw</th>
            <th>Your Decision</th>
            <th>Other Investors</th>
            <th>Total Investors</th>
            <th>True Quality</th>
            <th>Your Payoff</th>
            <th>Player A Payoff</th>
        </tr>
    </table>
    <table id="data_table">
        <tr {{ if decision_counts == 1 }} bgcolor="yellow"{{ endif }}>
            <td>1</td>
            <td>{{ history.1.advice }}</td>
            <td>{{ history.1.draw }}</td>
            <td>{{ history.1.decision }}</td>
            <td>{{ history.1.other_investors }}</td>
            <td>{{ history.1.investors }}</td>
            <td>{{ history.1.signal }}</td>
            <td>{{ history.1.payoff }}</td>
            <td>{{ history.1.pa_payoff }}</td>
        </tr>
        <tr {{ if decision_counts == 2 }} bgcolor="yellow"{{ endif }}>
            <td>2</td>
            <td>{{ history.2.advice }}</td>
            <td>{{ history.2.draw }}</td>
            <td>{{ history.2.decision }}</td>
            <td>{{ history.2.other_investors }}</td>
            <td>{{ history.2.investors }}</td>
            <td>{{ history.2.signal }}</td>
            <td>{{ history.2.payoff }}</td>
            <td>{{ history.2.pa_payoff }}</td>
        </tr>
        <tr {{ if decision_counts == 3 }} bgcolor="yellow"{{ endif }}>
            {{ for value in history.3 }}
            <td>3</td>
            <td>{{ value.group.pa_advice }}</td>
            <td>{{ value.random_draw }}</td>
            <td>{{ value.pb_decision() }}</td>
            <td>{{ value.other_investors() }}</td>
            <td>{{ value.group.total_players_invest }}</td>
            <td>{{ value.group.actual_signal }}</td>
            <td>{{ value.payoff }}</td>
            <td>{{ value.group.pa_payoff() }}</td>
            {{ endfor }}
        </tr>
    </table>
</div>

{{ endif }}

<!--Player History Table (ECUs) -->
<div style="margin: 125px"></div>
<h4 class="History">ECUs earned in Experiment:</h4>
<h5>*** Remember, <span style="text-decoration: underline">Decision {{ decision_counts }}</span> of Stage 2 was randomly drawn to count towards payment ***</h5>
<table class="Final">
    <tr>
        <th>Stage 1 Total ECUs:</th>
        <td>{{ Stage_1 }}</td>
    </tr>
    <tr>
        <th>Stage 2 Total ECUs:</th>
        <td>{{ Stage_2 }}</td>
    </tr>
    <tr>
        <tr class="last" style="height: 1px">
        <th colspan="2" style="height: 1px"></th>
    </tr>
    <tr>
        <th>Total ECUs:</th>
        <td>{{ final_payoff }}</td>
    </tr>
</table>

<!--Player History Table ($) -->
<div style="margin: 50px"></div>
<h4 class="History">Dollars($) earned in Experiment:</h4>
<h5>*** Remember, $0.25 = 1 ECU ***</h5>
<table class="Final">
    <tr>
        <th>Stage 1 Total Dollars ($):</th>
        <td>{{ real_Stage_1 }}</td>
    </tr>
    <tr>
        <th>Stage 2 Total Dollars ($):</th>
        <td>{{ real_Stage_2 }}</td>
    </tr>
    <tr>
        <tr class="last" style="height: 1px">
        <th colspan="2" style="height: 1px"></th>
    </tr>
    <tr>
        <th>Total Stage 1 & 2 Dollars ($):</th>
        <td>{{ real_final }}</td>

    <tr>
        <th>Participation Fee ($):</th>
        <td>$10</td>
    </tr>
    <tr class="last" style="height: 1px">
        <th colspan="2" style="height: 1px"></th>
    </tr>
    <tr class="last">
        <th>Ending Total Dollars ($)</th>
        <td>{{ final }}</td>
    </tr>
</table>

<button>Continue</button>

<script>
// Adjusting History Width
window.onload = function() {
  const headerCells = document.querySelectorAll('.history_header th');
  const dataCells = document.querySelectorAll('#data_table td');

  headerCells.forEach((headerCell, index) => {
      dataCells[index].style.width = headerCell.offsetWidth + 'px';
  });
};
</script>
{{ endblock }}