{{ load static }}
{{ block content }}
<!--External CSS & js-->
<link rel="stylesheet" href="{{ static 'style_sheets/general.css' }}" type="text/css">
<link rel="stylesheet" href="{{ static 'style_sheets/payoff_tables.css' }}" type="text/css">
<link rel="stylesheet" href="{{ static 'style_sheets/decision_tables.css' }}" type="text/css">
<link rel="stylesheet" href="{{ static 'style_sheets/hist_table.css' }}" type="text/css">
<script src="{{ static 'java_scripts/stage_1/inbetween_page.js' }}"></script>

<!-- Advisor Page -->
{{ if player.role == C.pa_ROLE }}

<!-- Title -->
<div class="Title">
    <h3 style="float: left"><u>Role:</u> Advisor</h3>
    <h3 style="float: right">Round {{ player.round_number }}</h3>
</div>


<!--Payoff Tables-->
{{ include '_static/payoff_tables/stage_1/advisor_investor.html' }}

<!--Form Fields/Decisions-->
{{ include '_static/decision_tables/stage_1/advisor_inbetween.html' }}

<!-- Instructions pop-up & Button-->
<div class="button">
    <button id="pop-up" style="float: left; background-color: red">Instructions</button>
</div>

<!--Player History Table-->
{{ if player.round_number != 1 }}
{{ include '_static/history_tables/stage_1/advisor.html' }}
{{ endif }}

<!-- Investor Page -->
{{ else }}

<!-- Title -->
<div class="Title_decision">
    <h3 style="float: left"><u>Role:</u> Investor</h3>
    <span>Advisor's Advice: <b style="color: red">{{ advice }}</b></span>
    <h3 style="float: right">Round {{ player.round_number }}</h3>
</div>

<!--Payoff Tables-->
{{ include '_static/payoff_tables/stage_1/investor_advisor.html' }}

<!--Form Fields/Decisions-->
{{ include '_static/decision_tables/stage_1/investor_inbetween.html' }}

<!-- Instructions pop-up & Button-->
<div class="button">
    <button id="pop-up" style="float: left; background-color: red">Instructions</button>
</div>

<!--Player History Table-->
{{ if player.round_number != 1 }}
{{ include '_static/history_tables/stage_1/investor.html' }}
{{ endif }}

{{ endif }}

{{ include '_static/instr_bttn/stage_1.html' }}

{{ endblock }}