/* Player Decision Tables */
div.decisiontable {
    margin-top: 75px;
    margin-bottom: 150px;
    contain: content;
    text-align: center;
}
.decisiontable table {
    font-family: "Times New Roman", serif;
    font-size: 26px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    contain: content;
    margin-top: 20px;
}
.decisiontable div.guide {
    margin-top: 10px;
}
.decisiontable .guide span{
    font-size: 24px;
    font-family: Arial, serif;
    border: 2px solid black;
    font-style: normal;
    padding: 10px;
}
.decisiontable th.qlty_header {
    height: 60px;
    font-weight: unset;
    font-style: italic;
    text-align: center;
}
.decisiontable tr.advice td {
    border-top: 2px solid black;
}
tr.decision_header th {
    text-align: center;
    height: 40px;
}
.decisiontable td {
    text-align: center;
    width: 175px;
}
.decisiontable tr.advice th {
    font-weight: unset;
    font-style: italic;
    text-align: center;
    width: 150px;
}
.decisiontable tr.error td {
    font-size: 19px;
    text-align: center;
}
div.decision-div {
    margin: 100px initial 150px;
    align-items: center;
}

/* Decision Slider Design */
div.decision-slider {
    margin: 50px 0;
    font-size: 21px;
    text-align: center;
}
.decision-slider table {
    border: 2px solid black;
    text-align: center;
    padding: 20px;
    height: 100px;
    width: 300px;
}
#sliderInput {
    width: 3em;
}