/* Feedback table */
div.feed-div {
    contain: content;
}
div.feed {
    margin-top: 20px;
    float: left;
}
.feed h4 {
    font-style: unset;
    font-weight: bold;
    text-align: unset;
}
.feed table{
    font-size: 19px;
}
.feed th {
    font-weight: unset;
    height: 50px;
    width: 400px;
}
.feed tr.last th{
    text-decoration: unset;
    border-top: 1px solid black;
    font-weight: bold;
}
.last td {
    border-top: 1px solid black;
    font-weight: bold;
}
.feed td {
    height: auto;
}

/* Final Feedback Page */
div.final {
    margin-top: 50px;
    contain: content;
    font-size: 21px;
}
.final table {
    margin-left: 20px;
}
.final h4 {
    font-style: unset;
    font-weight: bold;
    text-align: unset;
}
.final h5 {
    text-align: unset;
    font-size: 19px;
}
.final th {
    text-decoration: underline;
    font-weight: unset;
    height: 50px;
    width: 400px;
}
.final tr.last th{
    text-decoration: unset;
    border-top: 1px solid black;
    font-weight: bold;
}
.last td {
    border-top: 1px solid black;
    font-weight: bold;
}
.final td {
    height: auto;
}