/* Player Payoff Table */
table.playerpayofftable {
    margin: auto;
    align-self: center;
    font-size: 21px;
}
.playerpayofftable td {
    height: 30px;
    text-align: center;
    font-family: "Times New Roman", serif;
}
.playerpayofftable .header {
    text-align: center;
    height: 40px;
    font-style: italic;
    font-weight: normal;
    font-family: "Times New Roman", serif;
}
.playerpayofftable .column1 {
    width: 100px;
    text-align: center;
    border-right: 2px solid black;
    font-family: "Times New Roman", serif;
}
.playerpayofftable .row1 {
    width: 100px;
    text-align: center;
    border-bottom: 2px solid black;
    font-family: "Times New Roman", serif;
}
.payofftableheader {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.tables-container {
    display: flex;
    margin-left: unset;
    margin-right: unset;
    margin-top: 20px;
}