/* Instructions Quiz Styling */
div.quiz {
    margin-top: 20px;
}
.quiz p {
    font-size: 19px;
    margin-bottom: unset;
    margin-top: 23px;
}
.quiz span {
    color: red;
    margin-left: 10px;
}
.quiz .tf {
    font-size: 19px;
    margin-bottom: unset;
    margin-top: 10px;
}
.quiz ol {
    margin-bottom: 10px;
}
.quiz-input-num input {
    width: 3em;
    margin-left: 20px;
    border: 1px solid black;
}
.quiz-input-bol select {
    width: 4em;
    height: 35px;
    font-size: 21px;
    margin-left: 20px;
    border: 1px solid black;
}