/* Otree Timer */
.otree-timer {
    display: none;
}

/* General Styling */
div.otree-body.container {
    max-width: unset;
    padding-left: 550px;
    padding-right: 550px;
    padding-bottom: 100px;
    padding-top: 0;
}
p {
    font-size: 21px;
    margin-top: 20px;
}
h1 {
    font-size: 21px;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}
h2 {
    font-size: 38px;
    font-weight: bold;
    font-family: Arial, serif;
    text-decoration: underline;
}
h3 {
    font-size: 32px;
    font-family: Arial, serif;
    font-weight: bold;
}
h4 {
    font-size: 21px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
h5 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
ul {
    font-size: 19px;
}
ol {
    font-size: 19px;
}
ol li {
    margin-top: 20px;
}

/* id input styling */
label.id {
    font-size: 21px;
    margin-top: 30px;
}
input.id {
    max-width: 50px;
    font-size: 19px;
    border: 1px solid black;
}

/* Sample Page Header Styling */
span.sample {
    font-size: 21px;
    font-family: Arial, serif;
    color: red;
}

/* Standby Page Styling */
h2.BeforeStart {
    text-decoration: unset;
    text-align: center;
    margin: 200px;
}

/* Highlighting Styling */
span.highlight {
    background-color: yellow;
}

/* Title */
div.Title {
    contain: content;
}
div.Title_decision {
    text-align: center;
    contain: content;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Title_decision span {
    font-size: 24px;
    font-family: Arial, serif;
    border: 2px solid black;
    font-style: normal;
    background-color: revert;
    padding: 10px;
    margin-top: 20px;
}
.page-header {
    margin: unset;
    text-decoration: unset;
    font-weight: unset;
    padding-bottom: 10px;
}

/* Button Styling */
div.button {
    margin-top: 40px;
    margin-bottom: 20px;
    contain: content;
}
.button div {
    float: left;
}
.button button {
    margin: unset;
    float: right;
    font-size: 19px;
}
.button p {
    margin: unset;
}
.button p.bttm-sent {
    font-size: 18px;
}

/* Player Payoff Table */
table.playerpayofftable {
    margin: auto;
    align-self: center;
    font-size: 21px;
}
table.playerpayofftable td {
    height: 30px;
    text-align: center;
    font-family: "Times New Roman", serif;
}
table.playerpayofftable .header {
    text-align: center;
    height: 40px;
    font-style: italic;
    font-weight: normal;
    font-family: "Times New Roman", serif;
}
table.playerpayofftable .column1 {
    width: 100px;
    text-align: center;
    border-right: 2px solid black;
    font-family: "Times New Roman", serif;
}
table.playerpayofftable .row1 {
    width: 100px;
    text-align: center;
    border-bottom: 2px solid black;
    font-family: "Times New Roman", serif;
}
.payofftableheader {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.tables-container {
    display: flex;
    margin-left: unset;
    margin-right: unset;
    margin-top: 20px;
}
.tables-container p.reminder {
    font-style: italic;
    font-size: 19px;
}

/* Player Decision Tables */
table.decisiontable {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    margin-top: 100px;
    font-family: "Times New Roman", serif;
    font-size: 26px;
    border: 1px solid black;
}
.decisiontable th.qlty_header {
    height: 60px;
    font-weight: unset;
    font-style: italic;
    text-align: center;
}
.decisiontable tr.advice td {
    border-top: 2px solid black;
}
tr.decision_header th {
    text-align: center;
    height: 40px;
}
.decisiontable td {
    text-align: center;
    width: 175px;
}
.decisiontable tr.advice th {
    font-weight: unset;
    font-style: italic;
    text-align: center;
    width: 150px;
}
.decisiontable tr.error td {
    font-size: 19px;
}

/* Scrollable History Table */
div.tablescroll {
    contain: content;
    margin-top: 40px;
}
div.tablescroll div {
    height: 150px;
    text-align: center;
}
.tablescroll h4 {
    font-style: unset;
    font-weight: bold;
    position: sticky;
    border-collapse: collapse;
}
.tablescroll table.history_header {
    border-collapse: collapse;
    position: sticky;
    border: unset;
    top: 0;
    width: 1425px;
}
div.scroll {
    width: 1425px;
    contain: content;
    overflow-y: scroll;
    border: 1px solid black;
    max-height: 110px;
}
.tablescroll table {
    border-top: none;
    font-size: 19px;
    text-align: center;
}
.tablescroll th {
    background-color: #f5f5f5;
    font-size: 19px;
    border: 1px solid black;
}

/* Feedback table */
div.feed-div {
    margin-top: 20px;
    contain: content;
    margin-bottom: 100px;
}
div.feed {
    float: left;
}
div.feed h4 {
    font-style: unset;
    font-weight: bold;
    text-align: unset;
}
.feed table{
    font-size: 19px;
}
.feed th {
    font-weight: unset;
    height: 50px;
    width: 400px;
}
.feed tr.last th{
    text-decoration: unset;
    border-top: 1px solid black;
    font-weight: bold;
}
.last td {
    border-top: 1px solid black;
    font-weight: bold;
}
.feed td {
    height: auto;
}

/* Instructions Pop-up */
#popup-window {
    position: fixed;
    width: 1000px;
    height: 500px;
    background: white;
    border: 2px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    overflow-y: scroll;
}

/* Instructions Quiz Styling */
div.quiz {
    margin-top: 40px;
}
div.quiz p {
    font-size: 19px;
    margin-bottom: unset;
    margin-top: 23px;
}
div.quiz span {
    color: red;
}
div.quiz .tf {
    font-size: 19px;
    margin-bottom: unset;
    margin-top: 10px;
}