/* Player Decision Tables */
div.decisiontable {
    margin-top: 1vh;
    margin-bottom: 6vh;
    contain: content;
    text-align: center;
}
.decisiontable table {
    font-family: "Times New Roman", serif;
    border: 1px solid black;
    margin: 1vh auto 1.2px;
    contain: content;
    table-layout: fixed;
}
.decisiontable div.guide {
    margin-top: 1vh;
}
.decisiontable .guide span{
    font-size: 1vmax;
    font-family: Arial, serif;
    border: 2px solid black;
    font-style: normal;
    padding: 1vh;
}
.decisiontable th.qlty_header {
    height: 6vh;
    font-weight: unset;
    font-style: italic;
    text-align: center;
}
.decisiontable tr.advice td {
    border-top: 2px solid black;
}
tr.decision_header th {
    text-align: center;
    height: 2vh;
}
.decisiontable td {
    text-align: center;
    width: 10vw;
}
.decisiontable tr.advice th {
    font-weight: unset;
    font-style: italic;
    text-align: center;
    width: 3vw;
}
.decisiontable tr.error td {
    font-size: 1vmax;
    text-align: center;
}
div.decision-div {
    margin: 100px initial 150px;
    align-items: center;
}

/* Decision Slider Design */
div.decision-slider {
    margin: 5vh 0;
    font-family: "Times New Roman", serif;
    text-align: center;
}
.decision-slider table {
    border: 2px solid black;
    text-align: center;
    padding: 20px;
    max-height: 150px;
    width: 300px;
}
#sliderInput {
    width: 2em;
}

/* Feedback table */
div.feed-div {
    contain: content;
    margin-top: 4vh;
    margin-bottom: 8vh;
}
div.feed {
    margin-top: 2vh;
    float: left;
}
.feed h4 {
    font-style: unset;
    font-weight: bold;
    text-align: unset;
}
.feed table{
    font-size: 1vmax;
}
.feed th {
    font-weight: unset;
    height: 6vh;
    width: 23vw;
}
.feed tr.last th{
    text-decoration: unset;
    border-top: 1px solid black;
    font-weight: bold;
}
.last td {
    border-top: 1px solid black;
    font-weight: bold;
}
.feed td {
    height: auto;
}

/* Final Feedback Page */
div.final {
    contain: content;
}
.final table {
    margin-left: 2vw;
}
.final h4 {
    font-style: unset;
    font-weight: bold;
    text-align: unset;
}
.final h5 {
    text-align: unset;
    font-size: 1vmax;
}
.final th {
    font-weight: unset;
    height: 6vh;
    width: 25vw;
}
.final tr.last th{
    text-decoration: unset;
    border-top: 1px solid black;
    font-weight: bold;
}
.last td {
    border-top: 1px solid black;
    font-weight: bold;
}
.final td {
    height: auto;
}

/* Draws Table */
table.draws_table {
    font-size: 0.9vmax;
    text-align: center;
    max-width: 100%;
    width: 100%;
}
.draws_table th {
    border-bottom: 1px solid black;
    width: 10vw;
    vertical-align: bottom;
    font-size: 1vmax;
}
.draws_table td {
    height: 2vh;
}
div.draws_key {
    display: flex;
    align-items: center;
    margin-top: 1vh;
}
.draws_key table {
    margin: auto;
}
.draws_key td {
    width: 5vw;
}
div.draws {
    text-align: center;
    contain: content;
    margin-bottom: 1vh;
    padding: 1vh;
}
.draws h3 {
    font-style: italic;
}
.draws span.value {
    font-weight: bold;
    margin: 1vh;
}
p.draws {
    text-align: center;
    margin-top: unset;
}

/* Scrollable History Table */
div.tablescroll {
    contain: content;
    margin-top: 4vh;
    border-bottom: 1px solid black;
    calc(100% - 100px);
}
.tablescroll div {
    text-align: center;
    width: 100%;
}
.tablescroll h4 {
    font-style: unset;
    font-weight: bold;
    position: sticky;
    border-collapse: collapse;
}
.tablescroll table.history_header {
    border-collapse: collapse;
    position: sticky;
    border: unset;
    top: 0;
    width: 100%
}
div.scroll {
    width: 100%;
    contain: content;
    overflow-y: scroll;
    border: 1px solid black;
    max-height: 10vh;
}
.tablescroll table {
    border-top: none;
    font-size: 1vmax;
    text-align: center;
    width: 100%
}
.tablescroll th {
    background-color: #f5f5f5;
    font-size: 1vmax;
    border: 1px solid black;
}

/* Player Payoff Table */
table.playerpayofftable {
    margin: auto;
    align-self: center;
    max-width: 40vw;
    width: 100%;
    table-layout: fixed;
}
.playerpayofftable td {
    height: 4vh;
    text-align: center;
    font-family: "Times New Roman", serif;
}
.playerpayofftable .header {
    text-align: center;
    font-size: 1.2vmax;
    height: 5vh;
    font-style: italic;
    font-weight: normal;
    font-family: "Times New Roman", serif;
}
.playerpayofftable .column1 {
    width: 100px;
    text-align: center;
    border-right: 2px solid black;
    font-family: "Times New Roman", serif;
}
.playerpayofftable .row1 {
    text-align: center;
    border-bottom: 2px solid black;
    font-family: "Times New Roman", serif;
}
.payofftableheader {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.tables-container {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}
.tables-container > div {
    flex: 1;
}
div.between-margin {
    margin: 4vw;
    flex-grow: 0;
}
p.reminder {
    text-align: center;
    font-size: 1vw;
    margin-bottom: unset;
}