{{ load static }}
{{ block content }}

<!-- External CSS -->
<link rel="stylesheet" href="{{ static '_css/general.css' }}" type="text/css">

<!-- External JavaScript -->
<script src="{{ static '_javascripts/general-onload.js' }}"></script>
<script src="{{ static '_javascripts/general.js' }}"></script>

<!-- Title -->
{{ block title }}
<h3 class="sample">**Sample**</h3>
<div class="Title">
    <h3 style="float: left"><u>Role:</u> Advisor</h3>
    <h3 style="float: right">Round 7</h3>
</div>
{{ endblock }}

<!-- Payoff tables -->
{{ include '_static/payoff_tables/advisor_investor.html' }}

<!-- Formfields -->
<h4 style="margin: unset" class="dfont">Advice Sent, waiting on Investors decision</h4>
<h5 style="margin: unset">*** The estimated signal you received for this round is marked in <span class="highlight">yellow</span> ***</h5>
<div class="decisiontable dfont" style="margin-top: unset">
    <table>
        <tr>
            <th></th>
            <th colspan="5" class="qlty_header">Investment Quality Estimate</th>
            <th colspan="2"></th>
        </tr>
        <tr class="decision_header">
            <th></th>
            <th bgcolor="yellow">Low</th>
            <th style="width: 2vw" rowspan="4"></th>
            <th>Medium</th>
            <th style="width: 2vw" rowspan="4"></th>
            <th>High</th>
            <th class="emptycol" rowspan="4"></th>
        </tr>
        <tr class="advice">
            <th class="advice_header" rowspan="2">Advice</th>
            <td><label><input type="radio" disabled checked> Invest</label></td>
            <td><label><input type="radio" disabled> Invest</label></td>
            <td><label><input type="radio" disabled> Invest</label></td>
        </tr>
        <tr>
            <td class="column1"><label><input type="radio" disabled > Keep</label></td>
            <td><label><input type="radio" disabled checked> Keep</label></td>
            <td><label><input type="radio" disabled checked> Keep</label></td>
        </tr>
        <tr class="error">
            <th></th>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
        </tr>
        <tr class="timeout"></tr>
    </table>
</div>

<!-- Instructions pop-up & button-->
<div class="button">
    <button type="button" id="validation" onclick="validating()">Continue</button>
    <button id="pop-up" style="float: left;" class="instr-btn">Instructions</button>
</div>

<!-- Sample player history table-->
<div class="tablescroll">
    <div>
        <table class="history_header">
            <tr>
                <th>Prior Round</th>
                <th>Low Advice</th>
                <th>Medium Advice</th>
                <th>High Advice</th>
                <th>Estimate Signal</th>
                <th>Actual Signal</th>
                <th>Total Investors</th>
                <th>Your Payoff</th>
                <th>Investors Payoff</th>
            </tr>
        </table>
        <div class="scroll">
            <table id="data_table">
                {{ for p in history }}
                <tr>
                    <td>{{ p.round_number }}</td>
                    <td {{ if p.group.estimated_signal == 'Low' }} bgcolor="yellow" {{ else }}{{ endif }}>{{ p.advisor_low_advice }}</td>
                    <td {{ if p.group.estimated_signal == 'Medium' }} bgcolor="yellow" {{ else }}{{ endif }}>{{ p.advisor_med_advice }}</td>
                    <td {{ if p.group.estimated_signal == 'High' }} bgcolor="yellow" {{ else }}{{ endif }}>{{ p.advisor_high_advice }}</td>
                    <td>{{ p.group.estimated_signal }}</td>
                    <td>{{ p.group.actual_signal }}</td>
                    <td>{{ p.group.total_players_invest }}</td>
                    <td>{{ p.payoff }}</td>
                    <td>{{ p.group.investor_payoff }}</td>
                </tr>
                {{ endfor }}
            </table>
        </div>
    </div>
</div>

<!-- Instructions pop-up -->
{{ include '_static/instr_bttns/stage_1.html' }}

{{ endblock }}