p {
    font-size: 19px;
    margin-top: 30px;
}

div.margin {
    margin: 50px;
}

ul {
    font-size: 19px;
}

ol {
    font-size: 19px;
}

div.BeforeStart {
    align-items: center;
}

h1 {
    font-size: 21px;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

h2 {
    font-weight: bold;
    font-family: Arial;
    text-decoration: underline;
}

h2.Title {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2.BeforeStart {
    text-decoration: unset;
    text-align: center;
    margin: 200px;
}



h3 {
    font-size: 28px;
    font-family: Arial;
    font-weight: bold;
}

/* Page Header Styling */
span.sample {
    font-size: 21px;
    font-family: Arial;
    background-color: yellow;
}

h4 {
    font-size: 19px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

h5 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

span.advice {
    font-size: 24px;
    font-family: Arial;
    border: 2px solid black;
    font-style: normal;
    background-color: revert;
    margin-top: 20px;
    padding: 10px;
}

span.highlight {
    background-color: yellow;
}

button {
    float: right;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 900px;
}

button.Instructions {
    margin: unset;
}

h4.History {
    font-style: unset;
    font-weight: bold;
}

/* Stage 2 Instructions List */
    div.List {
        margin-left: 30px;
    }
    div.List p {
        margin-top: 10px;
    }


/* Otree Timer */
    .otree-timer {
        display: none;
    }


/* Player Payoff Table */
    table.playerpayofftable {
        margin: auto;
        align-self: center;
    }
    table.playerpayofftable td {
        height: 30px;
        text-align: center;
        font-size: 19px;
        font-family: "Times New Roman";
    }
    table.playerpayofftable .header {
        text-align: center;
        height: 50px;
        font-style: italic;
        font-weight: normal;
        font-size: 19px;
        font-family: "Times New Roman";
    }
    table.playerpayofftable .column1 {
        width: 75px;
        height: 30px;
        text-align: center;
        border-right: 1px solid black;
        font-size: 19px;
        font-family: "Times New Roman";
    }
    table.playerpayofftable .row1 {
        width: 100px;
        height: 30px;
        text-align: center;
        border-bottom: 1px solid black;
        font-size: 19px;
        font-family: "Times New Roman";
    }
    .payofftableheader {
        font-size: 19px;
        font-family: "Times New Roman";
        font-weight: bold;
        text-align: center;
        margin: 0;
    }
    .tables-container {
        display: flex;
        margin-left: unset;
        margin-right: unset;
        margin-top: 50px;
        margin-bottom: 50px;
    }

/* Player Decision Tables */
    table.decisiontable {
        margin: auto;
    }
    table.decisiontable th {
        font-size: 21px;
        width: 190px;
        text-align: center;
        text-decoration: underline;
    }
    table.decisiontable td {
        font-size: 17px;
        height: 25px;
        text-align: center;
    }
    button.input {
        margin: unset;
    }
    table.decisiontable .header_ {
        font-size: 19px;
        height: 50px;
        font-style: italic;
        text-align: center;
    }
    table.decisiontable td.playera {
        text-align: center;
        font-size: 20px;
    }
    table.decisiontable td.error {
        text-align: center;
    }

/* Scrollable History Table */
    .tablescroll {
        max-height: 125px;
        overflow-y: scroll;
        width: 1040px;
        margin: auto;
        text-align: center;
    }
    .tablescroll table.history_header {
        border-collapse: collapse;
        position: sticky;
        border: unset;
        top: 0;
    }
    .tablescroll table {
        width: 1000px;
        border: 1px solid black;
        border-top: none;
    }
    .tablescroll th {
        background-color: #f5f5f5;
        font-size: 16px;
        border: 1px solid black;
    }

/* Instructions Quiz Styling */
    div.quiz p {
        font-size: 19px;
        margin-bottom: unset;
        margin-top: 23px;
    }
    div.quiz span {
        color: red;
    }
    div.quiz .tf {
        font-size: 19px;
        margin-bottom: unset;
        margin-top: 10px;
    }

/* Decision Slider Design */
    input.decision-slider {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 400px;
    }
    #sliderInput {
        width: 3em;
    }

/* Final Feedback Page */
    table.Final th {
        text-decoration: underline;
        font-weight: unset;
        height: 35px;
        width: 400px;
    }
    .Final tr.last th{
        text-decoration: unset;
        border-top: 1px solid black;
        font-weight: bold;
    }
    .last td {
        border-top: 1px solid black;
        font-weight: bold;
    }
    .Final td {
        height: auto;
    }

/*Stage 1 feedback table */
    table.feed {
        font-size: 19px;
    }
    table.feed th {
        font-weight: unset;
        height: 50px;
        width: 400px;
    }
    .feed tr.last th{
        text-decoration: unset;
        border-top: 1px solid black;
        font-weight: bold;
    }
    .last td {
        border-top: 1px solid black;
        font-weight: bold;
    }
    .feed td {
        height: auto;
    }

.history_header th {
    white-space: nowrap; /* Prevent text wrapping */
}

#data_table td {
    white-space: nowrap;
}

/* Instructions Pop-up */
    #popup-window {
        position: fixed;
        width: 1000px;
        height: 500px;
        background: white;
        border: 2px solid black;
        padding: 10px;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        display: none;
        overflow-y: scroll;
    }